# Created by .ignore support plugin (hsz.mobi)
.idea
src/__pycache__
Drone_Footprints.egg-info
Drone_Footprints.spec
build
qodana.yaml
src/build/
src/dist/
.venv/
.venv
.venv/bin
.venv/lib
.venv/include
venv/
venv
venv/bin
venv/lib
venv/include
/.venv/