# Created by .ignore support plugin (hsz.mobi)
.idea
src/__pycache__
Drone_Footprints.egg-info
Drone_Footprints.spec
qodana.yaml
src/build/
src/dist/
.venv/
.venv
.venv/bin
.venv/lib
.venv/include
venv/
venv
venv/bin
venv/lib
venv/include
/.venv/
/src/Bbox_calculations.py
src/Bbox_calculations.py
/src/drone_sensors.numbers
src/drone_sensors.numbers
/src/Utils
# General for Macos
.DS_Store
.AppleDouble
.LSOverride
