vmem~=1.0.2
setuptools~=68.2.0
rasterio~=1.3.9
numpy~=1.26.3
geojson~=3.1.0
argparse~=1.4.0
pyproj~=3.6.1
utm~=0.7.0
geojson_rewind
shapely~=2.0.2
geometry
geopy~=2.4.1
pyexiftool
pillow~=10.2.0
gps-time
datetime~=5.4
vector3d~=1.1.1
scikit-image~=0.22.0
wheel~=0.43.0
pandas~=2.1.4
opencv-python~=4.9.0.80
geopandas~=0.14.2
magnetic_field_calculator
magnetismi~=2022.10.9
mpmath~=1.2.1
numpy-quaternion
tqdm~=4.66.2
loguru~=0.7.2
GDAL[numpy]~=3.8.4
sympy~=1.9.0
lensfunpy~=1.15.0
numpy-quaternion==2023.0.3

