argparse
asyncio
datetime
Quart
geojson_rewind
geojson
Geometry
geopandas
geopy
gps-time
hypercorn
lensfunpy~=1.15.0
loguru
magnetic-field-calculator
magnetismi
mpmath
numpy-quaternion
numpy>=1.24.0,<1.25.0
opencv-python
pandas
pillow
pyexiftool
pyproj
rasterio
requests
rio_cogeo
scikit-image
setuptools
shapely
sympy
tqdm
utm
vector3d
vmem
websockets
wheel